<h2>My closed requests.</h2>

<p>
  <b>Outbaund:</b>
    <% if !@user_requests[:outbaund].empty? %>
      <ul>
        <% @user_requests[:outbaund].each do |request| %>
          <li>
            <b>Skill:</b> <%= request[:skill] %>; <b>Requested from:</b> <%= "#{request[:rec_f_name]} #{request[:rec_s_name]}" %>; <b>Request close date:</b> <%= request[:close_date] %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <em>you do not have any outbaund requests yet.</em>
    <% end %>
</p>
<p>
  <b>Inbaund:</b>
    <% if !@user_requests[:inbaund].empty? %>
      <ul>
        <% @user_requests[:inbaund].each do |request| %>
          <li><b>Skill:</b> <%= request[:skill] %>; <b>Requested by:</b> <%= "#{request[:req_f_name]} #{request[:req_s_name]}" %>; <b>Request close date:</b> <%= request[:close_date] %></li>
        <% end %>
      </ul>
    <% else %>
      <em>you do not have any inbound requests yet.</em>
    <% end %>
</p>

<p><a href="/my_profile">Go to my profile</a><p>
